.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  background: #e5e5e5;
  position: absolute;
  width: 375px;
  height: 5410px;
  left: 0;
}

.headline {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;
}

/* headline section */
.container1 {
  width: 375px;
  height: 718px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffff;
}

.left {
  top: 15px;
  position: absolute;
  width: 54px;
  height: 16px;
  left: 20px;
}

.right {
  position: absolute;
  width: 67px;
  height: 12px;
  left: 294px;
  top: 15px;
}

.toolbar1 a {
  position: absolute;
  width: 150px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  top: 50px;
  left: 0;
  color: #6070ff;
  font-style: normal;
  font-weight: 1000;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  flex: none;
  text-align: center;
}

.toolbar2 {
  position: absolute;
  top: 60px;
  left: 320px;
}

.name {
  width: 300px;
  height: 150px;
  top: 200px;
  left: 24px;
  color: #172b4d;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  position: absolute;
  flex: none;
  flex-grow: 0;
}

.text {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  top: 370px;
  left: 24px;
  color: #344563;
  flex: none;
}

#lets-connect {
  width: 150px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  size: 16px;
  line-height: 24px;
  position: absolute;
  top: 530px;
  left: 24px;
}

.icons {
  position: relative;
  top: 570px;
  left: -18px;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 150px;
}

#elipse11 {
  top: 150px;
  left: 5px;
  position: absolute;
}

#elipse5 {
  top: 155px;
  left: 132px;
  position: absolute;
}

#rectangle7 {
  position: absolute;
  top: 145px;
  left: 130px;
}

#elipse3 {
  top: 152px;
  left: 323px;
  position: absolute;
}

#rectangle4 {
  top: 118px;
  left: 294px;
  position: absolute;
}

#elipse8 {
  top: 110px;
  left: 214px;
  position: absolute;
}

#elipse12 {
  top: 550px;
  left: 300px;
  position: absolute;
}

#elipse13 {
  top: 560px;
  left: 290px;
  position: absolute;
}

#elipse15 {
  top: 645px;
  left: 53px;
  position: absolute;
}

#elipse4 {
  top: 657px;
  left: 237px;
  position: absolute;
}

#rectangle5 {
  top: 653px;
  left: 185px;
  position: absolute;
}

/* end headline section */
.work-card {
  gap: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  height: 2788px;
  left: 0;
  top: 718px;
}

.work1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  box-sizing: border-box;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

/* styling section with work1 */
.work1 h2 {
  width: 295px;
  height: 36px;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work2 h2 {
  width: 250px;
  height: 80px;
  left: 16px;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work3 h2 {
  width: 295px;
  height: 36px;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work4 h2 {
  width: 250px;
  height: 80px;
  left: 16px;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

/* .section1 {
    gap: 2px;
} */
#frame {
  width: 236px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -30px;
}

#text1 {
  width: 55px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

#counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#counter1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#role {
  width: 88px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

#text {
  width: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.primary-text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* justify-content: flex-end; */

  gap: 8px;
  margin-top: 20px;
  width: 203px;
  height: 24px;
}

#tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#html {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 29px;
  height: 16px;
  color: #6070ff;
}

#tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#css {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 21px;
  height: 16px;
}

#tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#javascript {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.Actions {
  width: 295px;
  height: 72px;
}

#see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 100px;
  height: 30px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 20px;
}

#see-project h4 {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #396df2;
}

/* end of styling section work1 */

.work2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  top: 744px;
  box-sizing: border-box;
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

/* styling section with work2 */
#work2frame {
  width: 236px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -30px;
}

#work2text1 {
  width: 55px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

#work2counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work2counter1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work2role {
  width: 88px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

#work2text {
  width: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.work2primary-text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

.work2tags {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* justify-content: flex-end; */

  gap: 8px;
  margin-top: 20px;
  width: 203px;
  height: 24px;
}

#work2tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#html2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 29px;
  height: 16px;
  color: #6070ff;
}

#work2tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#css2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 21px;
  height: 16px;
}

#work2tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#javascript2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.work2Actions {
  width: 295px;
  height: 72px;
}

#work2see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 100px;
  height: 30px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 20px;
}

#work2see-project h4 {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #396df2;
}

/* end of styling section work2 */
.work3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  top: 744px;
  box-sizing: border-box;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

/* styling work3 card */
#work3frame {
  width: 236px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -30px;
}

#work3text1 {
  width: 55px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

#work3counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work3counter1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work3role {
  width: 88px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

#work3text {
  width: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.work3primary-text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

.work3tags {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* justify-content: flex-end; */

  gap: 8px;
  margin-top: 20px;
  width: 203px;
  height: 24px;
}

#work3tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#html3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 29px;
  height: 16px;
  color: #6070ff;
}

#work3tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#css3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 21px;
  height: 16px;
}

#work3tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#javascript3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.work3Actions {
  width: 295px;
  height: 72px;
}

#work3see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 100px;
  height: 30px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 20px;
}

#work3see-project h4 {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #396df2;
}

/* end of styling work3 card */
.work4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;

  /* top: 744px; */
  box-sizing: border-box;
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

/* styling work4 card */
#work4frame {
  width: 236px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -30px;
}

#work4text1 {
  width: 55px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

#work4counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work4counter1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work4role {
  width: 88px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

#work4text {
  width: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.work4primary-text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

.work4tags {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* justify-content: flex-end; */

  gap: 8px;
  margin-top: 20px;
  width: 203px;
  height: 24px;
}

#work4tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#html4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 29px;
  height: 16px;
  color: #6070ff;
}

#work4tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#css4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 21px;
  height: 16px;
}

#work4tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#javascript4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.work4Actions {
  width: 295px;
  height: 72px;
}

#work4see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 100px;
  height: 30px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 20px;
}

#work4see-project h4 {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #396df2;
}

/* end of styling work */

/* styling the about myself section */
.About-myself {
  position: absolute;
  width: 375px;
  height: 1263px;
  left: 0;
  top: 3506px;
  background: #fff;

  /* background-color: blue; */
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 12px;
  width: 327px;
  height: 409px;
  left: 24px;
  top: 114px;
  border-radius: 0;
}

#primary-heading {
  width: 300px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#primary-paragraph {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 200px;
  height: 80px;
}

#supoorting-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 117px;
  height: 24px;
}

#lets-connect1 {
  width: 125px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: -15px;
}

#frame1 li {
  display: inline;
  flex-direction: row;
  align-items: center;
  width: 0;
  height: 40px;
  padding: 5px;
}

.my-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-top: 20px;
  width: 120px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

#normal-button {
  width: 138px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
}

#frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
}

#language-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

#languages {
  position: absolute;
  height: 24px;
  left: 50px;
  right: 78px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}
#frame9 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 50px;
}

#frame10 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

#frame11 {
  background: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
}

.frame8 {
  width: 327px;
  height: 72px;
}

#separator-bottom {
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dfe1e6;
}

#chevron-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

/* send of styling the about myself section */
